cmake-build-debug
.idea/vcs.xml
.idea/workspace.xml
.idea
server.xcodeproj
server/.vscode/settings.json
libMFCore.a
build
MFServer.xcodeproj
.vscode/settings.json
MFServer/.vscode/c_cpp_properties.json
MFServer/.vscode/settings.json
mf.srctrlbm
mf.srctrldb
mf.srctrlprj
.vscode/settings.json
MFServer/.clion.source.upload.marker
MFServer/bin/
server/x64/Debug/
.vs/
x64/
MFServer/.emmyrc.json
server/log/
MFServer/log
